nav {
  text-align: center;
  margin-top: 20px;
}

form {
  margin: 30px auto;
  text-align: center;
}

button {
  padding: 5px;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.1em;
}

p {
  text-align: center;
}

p span {
  font-weight: bold;
}
