body {
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 20px;
  /* text-align: center; */
}

.article-container {
  width: 900px;
  background-color: #fff;
  padding: 30px;
}

.article-box {
  margin-bottom: 30px;
  width: 100%;
}

input,
button {
  width: 300px;
  height: 44px;
  font-size: 22px;
}

input {
  padding: 0 20px;
  height: 40px;
}
