* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
}

.nav-header-main {
  width: auto;
  height: 80px;
  display: flex;
  padding: 0 20px;
  justify-content: flex-start;
  align-items: center;
  background-color: #fcfcfc;
}

nav ul {
  margin-left: 30px;
  margin-right: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.header-logo img {
  width: auto;
  height: 30px;
}

.header-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-login input,
.form-signup input {
  padding: 5px;
  margin-right: 5px;
  line-height: 1.5;
  font-size: 14px;
  border: lightgray;
  border-radius: 5px;
  background-color: #f0f0f0;
  outline-color: aquamarine;
}

.header-login a {
  font-size: 14px;
}

button {
  padding: 7px 15px;
  background-color: #1d1d1d;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

main {
  padding: 15px 0;
}

.wrapper-main {
  width: 50vw;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.form-signup {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 12px auto;
}

.form-signup button {
  width: max-content;
  text-align: center;
  margin: 6px auto;
  cursor: pointer;
}
